/* general stuff */
* {
  text-align: center;
  font-family: Ubuntu, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 66px;
  font-size: 1rem;
}

a:link, a:visited {
  color: #F0E1AA;
}
a:hover {
  color: #F0E1AA;
}
a:active {
  color: #F0E1AA;
}

li, ul {
  list-style: none;
}

body {
  margin: 0;
  font-size: 2rem;
}

/* everything in header */
.bild {
  width: 100vw;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.8;
}

.header-container {
  position: relative;
  width: auto;
  height: auto;
}

.box {
  position: relative;
}

.header-text {
  position: absolute;
  text-align: left;
  top: 30%;
}

#header1, #header2 {
  text-align: left;
  font-size: 5vw;
  width: 50vw;
  font-weight: bold;
}

/* everything in navigation bar */
.navbar-sticky {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  width: auto;
  padding: auto;
  background-color: #B52E28;
  z-index: 100;
}

.navbar-sticky > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 5px;
  padding: 1em;
}

/* everything in main */
main > * {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: auto;
}

#avatar {
  border-radius: 50%;
  width: 150px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 50px black;
  margin: 20px;
}

#top {
  background-color: #F0E1AA;
}

/* language-bars section */
/* source: https://www.foolishdeveloper.com/2021/08/animated-skills-bar-html-css.html */
.language-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.language-bar {
  position: relative;
  border: 2px solid black;
  border-radius: 20px;
}

.language-bar div {
  position: relative;
  max-width: 0;
  transition: max-width 2s ease;
  height: 9px;
  border-radius: 10px;
  background-color: #85642F;
}

.language-skills:not(:last-child) {
  margin-bottom: 30px;
}

/* filling every bar with "value" */
.language-bar div.animate {
  max-width: 100%;
}
/* language-bars section ends*/

/* Dad Joke formatting
source: https://wesbos.com/javascript/13-ajax-and-fetching-data/76-dad-jokes */
.dadjoke-api {
  background-color: #DCB567;
  justify-content: center;
  flex-direction: column;
}

.dadjoke-api > * {
  margin: 30px;
}

.getJoke {
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
/* Dad Joke section ends */

.middle-container {
  background-color: #F0E1AA;
}

#social {
  width: 50vw;
  margin: 20px;
}

.social_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social_icon_ordering {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.social-icons {
  position: relative;
  display: inline-block;
  filter: grayscale(100%);
  width: 80px;
  margin: auto;
}

.social-icons:hover {
  filter: grayscale(0%);
}

footer > * {
  background-color: #85642F;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* conditions, when page width smaller (i.g. mobile horizontal) */
@media screen and (max-width: 600px) {
  * {
    scroll-padding-top: 200px;
  }
  .navbar-sticky {
    flex-direction: column;
  }
  .navbar-sticky > p {
    padding: 0.5em;
  }
  main > * {
    display: flex;
    flex-direction: column;
  }
  #avatar {
    width: 120px;
  }
  .social_links {
    display: flex;
    flex-direction: column;
  }
}

