* {
  text-align: center;
  font-family: Paytone One, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 66px;
}

body {
  margin: 0;
  font-size: 2em;
}

header {
  /* position: relative; */
  /* width: auto; */
  /* background: url(SayNode2.jpg); */
  /* min-height: auto; */
  /* background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(SayNode2.jpg); */
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(SayNode2.jpg); */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100vw;
  height: 100vh;
}

.bild {
  width: 100vw;
  filter: grayscale(100%);
  opacity: 0.8;
}

/* .header-text {
  position: absolute;
} */

.header-container {
  position: relative;
  width: 100vw;
  height: auto;
}

.box {
  position: relative;
  width: 100vw;
  height: auto;
}

.header-text {
  position: absolute;
  text-align: left;
  top: 30%;
}

#header1, #header2 {
  text-align: left;
  font-size: 2rem;
  width: 50vw;
  /* left: 10%;
  top: 40%;
  transform: translate(-50%, -50%); */
}

.navbar-sticky {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  width: auto;
  padding: auto;
  background-color: lightpink;
}

.navbar-sticky > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 5px;
  padding: 1em;
}

main > * > * {
  padding: 30px;
}

main > * {
  display: flex;
  flex-direction: row;
  width: auto;
}

#top {
  background-color: yellow;
}

#middle {
  background-color: lightgreen;
}

/* .top-container > p {
  margin: 10px;
  padding: 20px;
  border: 5px;
  border-color: black;
} */

footer {
  background-color: black;
  color: white;
}

/* condition, when width smaller (i.g. mobile horizontal) */
@media screen and (max-width: 600px) {
  * {
    scroll-padding-top: 150px;
  }
  .navbar-sticky {
    flex-direction: column;
  }
  .navbar-sticky > p {
    padding: 0.5em;
  }
  #header1, #header2 {
    font-size: 1rem;
  }
  main > * {
    display: flex;
    flex-direction: column;
  }
}
