* {
  text-align: center;
  font-family: Paytone One, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 66px;
  font-size: 1rem;
}

li, ul {
  list-style: none;
}

body {
  margin: 0;
  font-size: 2rem;
}

/* everything in header */

.bild {
  width: 100vw;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.8;
}

.header-container {
  position: relative;
  width: auto;
  height: auto;
}

.box {
  position: relative;
  /* height: auto; */
}

.header-text {
  position: absolute;
  text-align: left;
  top: 30%;
  /* padding-left: 5%;
  padding-right: 10%;
  margin-right: 10%; */
}

#header1, #header2 {
  text-align: left;
  font-size: 5vw;
  width: 50vw;
  /* left: 10%;
  top: 40%;
  transform: translate(-50%, -50%); */
}

/* everything in navigation bar */

.navbar-sticky {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  width: auto;
  padding: auto;
  background-color: lightpink;
  z-index: 100;
}

.navbar-sticky > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 5px;
  padding: 1em;
}

/* everything in main */

main > * {
  padding: 30px;
  display: flex;
  width: auto;
}

/* main > * {
  display: flex;
  flex-direction: row;
  width: auto;
} */

.about {
  display: flex;
  flex-direction: column;
}

#avatar {
  border-radius: 50%;
  width: 150px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 50px black;
  margin: 20px;
}

#top {
  background-color: yellow;
}

/* language-bars section */
/* source: https://www.foolishdeveloper.com/2021/08/animated-skills-bar-html-css.html */
.language-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.language-bar {
  position: relative;
  border: 2px solid #0d96e0;
  border-radius: 20px;
}

.language-bar div {
  position: relative;
  max-width: 0;
  transition: max-width 2s ease;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}

.language-skills:not(:last-child) {
  margin-bottom: 30px;
}

/* filling every bar with "value" */
.language-bar div.animate {
  max-width: 100%;
}

.colortest {
  background-color: orange;
  justify-content: center;
  flex-direction: column;
}

.colortest > * {
  margin: 30px;
}

.getJoke {
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* .language-bar {
  display: none;
}

.language-bar-display {
  display: initial;
} */

/* language-bars section ends*/

#middle {
  background-color: lightgreen;
}

/* .top-container > p {
  margin: 10px;
  padding: 20px;
  border: 5px;
  border-color: black;
} */

footer {
  background-color: black;
  color: white;
}

/* conditions, when page width smaller (i.g. mobile horizontal) */
@media screen and (max-width: 600px) {
  * {
    scroll-padding-top: 150px;
  }
  .navbar-sticky {
    flex-direction: column;
  }
  .navbar-sticky > p {
    padding: 0.5em;
  }
  /* #header1, #header2 {
    font-size: 1rem;
  } */
  main > * {
    display: flex;
    flex-direction: column;
  }
  #avatar {
    width: 120px;
  }
}
